<%= form_for @article, :html => { :multipart => true } do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>

  <div class="paperclipNewFiles">
    <%= f.fields_for :assets do |asset| %>
      <% if asset.object.new_record? %>
        <div class="formRow">
          <%= asset.file_field :image %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="paperclipExistingFiles">
    <%= f.fields_for :assets do |asset| %>
      <% unless asset.object.new_record? %>
        <div class="thumbnail">
          <%= link_to image_tag(asset.object.image.url(:thumb)),
                      asset.object.image.url(:original) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
